root = false

[allocator.{c,h}]
tab_width = 4

[linear_hash.{c,h}]
tab_width = 4

[linear_hash_extras.{c,h}]
tab_width = 4

[linear_hash_stats.{c,h}]
tab_width = 4

[linear_hash_types.h]
tab_width = 4

[zstream_dedup.[ch]]
tab_width = 4

[zstream_shared.[ch]]
tab_width = 4

[zstream_stream.[ch]]
tab_width = 4

[zstream_queue.[ch]]
tab_width = 4

